@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Page</h1>
</div> 

@* @model List<Lib2.Models.Book>

<h1>Book Lists</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>IsBorrowed</th>
                <!-- Thêm các cột khác nếu cần -->
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Category</td>
                    <td>@book.IsBorrowed</td>
                    <td>
                        <form asp-action="Details" asp-controller="Book" method="post">
                            <input type="hidden" name="bookId" value="@book.Id" />
                            <button type="submit">Details</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có sách nào.</p>
}  *@

@model IEnumerable<Lib2.Models.Book>

<div class="container">
    <h2>Book Lists</h2>
    
@if (Model.Any())
{
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @* <img src="/home/huylele/CODE/Lib2/Image/1.jpeg" class="card-img-top" alt="Book Image"> *@
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        <p class="card-text">@book.Author</p>
                        @if(@book.IsBorrowed == 0)
                        {
                            <p class="card-text">Available</p>
                        }
                        else
                        {
                            <p class="card-text">Unavailable</p>
                        }
                        <form asp-action="Details" asp-controller="Book" method="post">
                            <input type="hidden" name="bookId" value="@book.Id" />
                            <button type="submit">Details</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No available book</p>
}
</div>
