@{
    ViewData["Title"] = "Favorite Books";
}

<div class="text-center">
    <h1 class="display-4">Favorite Books</h1>
</div> 

@model List<Lib2.Models.Book>

<h1>Your Favorites</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Category</th>
                <th>IsBorrowed</th>
                <!-- Thêm các cột khác nếu cần -->
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Category</td>
                    <td>@book.IsBorrowed</td>
                    <form asp-action="Details" asp-controller="Book" method="post">
                            <input type="hidden" name="bookId" value="@book.Id" />
                            <button type="submit">Details</button>
                    </form>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No Favorite Book.</p>
} 
