@model List<Lib2.Models.Loan>

@{
    ViewBag.Title = "List";
}

<h2>@ViewBag.Title</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>BookTitle</th>
                <th>UserName</th>
                <th>LoanDate</th>
                <th>ReturnDate</th>
                <!-- Thêm các cột khác nếu cần -->
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model)
            {
                <tr>
                    <td>@loan.Id</td>
                    <td>@loan.Book.Title</td>
                    <td>@loan.User.Name</td>
                    <td>@loan.LoanDate</td>
                     <td>
                    @if (loan.ReturnDate.HasValue)
                    {
                        @loan.ReturnDate.Value
                    }
                    else
                    {
                        <form asp-action="UpdateReturnDate" asp-controller="Loan" method="post">
                            <input type="hidden" name="loanId" value="@loan.Id" />
                            <button type="submit">Cập Nhật Ngày Trả</button>
                        </form>
                    }
                </td>
                <td>
                    <form asp-action="DeleteLoan" asp-controller="Loan" method="post">
                        <input type="hidden" name="loanId" value="@loan.Id" />
                        <button type="submit">Xóa Mượn</button>
                    </form>
                </td>
                    <!-- Hiển thị các thông tin khác của mượn sách -->
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No loans found.</p>
}

<div>
    <a asp-action="Create" asp-controller="Loan">Mượn Sách</a>
</div> 
